@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Playfair+Display:wght@400;600&family=Raleway:wght@400;500&display=swap');

/* 
font-family: 'Cormorant', serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
363e21 green
e5dff5 light
*/

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #363e21;
}

header {
  position: relative;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
}

header nav .site-logo {
  flex: 1;
  z-index: 50;
}

header nav .site-logo a {
  color: #e5dff5;
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  text-decoration: none;
  letter-spacing: -0.1rem;
}

header nav .site-hamburger {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
  cursor: pointer;
  z-index: 50;
}

header nav .site-hamburger span {
  cursor: pointer;
  width: 35px;
  height: 2px;
  background-color: #e5dff5;
  opacity: 0.5;
}

header nav .site-hamburger .line-two {
  margin-top: 10px;
}

header nav .site-navlinks {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #e5dff5;
  justify-content: center;
  align-items: center;
  z-index: 20;
  opacity: 0;
}

header nav .site-navlinks ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav .site-navlinks ul li {
  text-align: center;
}

header nav .site-navlinks ul li a {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  color: #000;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: -0.1rem;
  display: flex;
}

header nav .site-navlinks ul li .abs-link {
  position: absolute;
  bottom: 5vh;
  border: 1px solid black;
  padding: 10px 50px;
  border-radius: 50%;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  left: 0;
  right: 0;
  margin: 0 35%;
  font-size: 1rem;
  letter-spacing: 0rem;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
}

main h1 {
  margin: 0;
  font-size: 8.6rem;
  font-family: 'Cormorant', serif;
  line-height: 5rem;
  color: #e5dff5;
  position: relative;
  left: 1%;
  letter-spacing: -0.4rem;
  font-weight: 300;
}

main small:first-of-type {
  position: relative;
  left: -25%;
  top: 30px;
}

main small {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #e5dff5;
  position: relative;
  right: 10%;
  top: 15px;
  letter-spacing: -0.02rem;
  font-weight: 500;
}

.mission-container, .contact-container, .specialities-container {
  margin: 0;
  box-sizing: border-box;
  margin: 20px;
  padding: 10px;
  border-top: 1px solid #e5dff5;
  margin-top: 5vh;
}

.mission-container h3, .contact-container h3, .specialities-container h3 {
  color: #e5dff5;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.mission-container p {
  color: #e5dff5;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
}

.contact-container small {
  color: #e5dff5;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  margin: 0;
  line-height: -0.1rem;
}

.contact-container small a {
  color: #e5dff5;
}

.contact-container img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  margin-top: 50px;
}

.specialities-container .specialities-container-separator .specialities-item {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5dff5;
}

.specialities-container .specialities-container-separator .specialities-item:last-of-type {
  border: none;
}

.specialities-container .specialities-container-separator .specialities-item .specialities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.specialities-container .specialities-container-separator .specialities-item .specialities .plus-icon {
  margin: 0;
}

.specialities-container .specialities-container-separator .specialities-item .specialities .plus-icon div {
  width: 35px;
  height: 2px;
  background-color: #e5dff5;
  position: relative;
  top: 0;
}

.specialities-container .specialities-container-separator .specialities-item .specialities .plus-icon .plus-icon-2 {
  transform: rotate(90deg);
  top: -3px;
}

.specialities-container .specialities-container-separator .specialities-item .specialities p {
  color: #e5dff5;
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  margin: 5px 0px;
}

.specialities-container .specialities-container-separator .specialities-item .specialities-detail {
  display: none;
}

.specialities-container .specialities-container-separator .specialities-item .specialities-detail small {
  color: #e5dff5;
  font-family: 'Raleway', sans-serif;
  line-height: 0.3rem;
}

.speaking-events-container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e5dff5;
  margin: 20px;
  position: relative;
}

.speaking-events-container h3 {
  color: #e5dff5;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.speaking-events-container .speaking-events-separator .speaking-events-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: 3px solid #000;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin: 20px auto;
  box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
}

.speaking-events-container .speaking-events-separator .speaking-events-circle p {
  font-size: 1rem;
  color: #e5dff5;
  font-weight: 500;
  position: relative;
  top: -20px;
}

.speaking-events-container .speaking-events-separator .speaking-events-circle a {
  font-size: 1.8rem;
  color: #e5dff5;
  font-weight: 500;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.speaking-events-container .speaking-events-separator .speaking-events-circle .speaking-events-location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speaking-events-container .speaking-events-separator .speaking-events-circle .speaking-events-location small {
  color: #e5dff5;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: #e5dff5;
}

footer a svg {
  margin: 0px 10px;
  cursor: pointer;
}

@media screen and (min-width: 800px) {

  main h1 {
    font-size: 9rem;
    line-height: 7rem;
  }

  main small {
    font-size: 2rem;
    top: 15px;
  }

  .mission-container, .contact-container {
    display: flex;
    flex-direction: row;
  }

  .mission-container h3, .mission-container p, .contact-container h3, .contact-container small, .contact-container img {
    flex: 1;
  }

  .contact-container img {
    width: auto;
    margin-top: 0;
    flex: 2;
  }

  .specialities-container {
    display: flex;
    flex-direction: row;
  }

  .specialities-container .specialities-container-separator, .specialities-container h3 {
    flex: 1;
  }

  .speaking-events-container {
    padding-bottom: 40px;
  }

  .speaking-events-container .speaking-events-separator {
    display: flex;
    flex-direction: row;
  }

  .speaking-events-container .speaking-events-separator .speaking-events-circle {
    width: 30vw;
    height: 30vw;
  }

  header nav .site-hamburger {
    display: none;
  }

  header nav .site-navlinks {
    display: flex;
    opacity: 1;
    background-color: transparent;
    width: inherit;
    height: inherit;
    position: relative;
  } 

  header nav .site-navlinks ul {
    display: flex;
  }

  header nav .site-navlinks ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  header nav .site-navlinks ul li a {
    color: #e5dff5;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.01rem;
  }

  header nav .site-navlinks ul li:first-of-type {
    margin: 0px 20px;
  }

  header nav .site-navlinks ul li a:first-of-type {
    transform: translate3d(0px, 0px, 0px) !important;
  }
  
  header nav .site-navlinks ul li .abs-link {
    position: relative;
    bottom: 0;
    border: 1px solid #e5dff5;
    letter-spacing: 0.01rem;
    font-size: 1rem;
    margin: 0;
  }

}

@media screen and (min-width: 1300px) {

  main {
    padding-bottom: 25vh;
  }

  main h1 {
    font-size: 15rem;
    line-height: 12rem;
  }

  main small {
    font-size: 2.3rem;
    top: 35px;
  }
  
}