@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Playfair+Display:wght@400;600&family=Raleway:wght@400;500&display=swap');

/* 
font-family: 'Cormorant', serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
363e21 green
e5dff5 light
*/

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #363e21;
}

header {
  position: relative;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
}

header nav .site-logo {
  flex: 1;
  z-index: 50;
}

header nav .site-logo a {
  color: #e5dff5;
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  text-decoration: none;
  letter-spacing: -0.1rem;
}

header nav .site-hamburger {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
  cursor: pointer;
  z-index: 50;
}

header nav .site-hamburger span {
  cursor: pointer;
  width: 35px;
  height: 2px;
  background-color: #e5dff5;
  opacity: 0.5;
}

header nav .site-hamburger .line-two {
  margin-top: 10px;
}

header nav .site-navlinks {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #e5dff5;
  justify-content: center;
  align-items: center;
  z-index: 20;
  opacity: 0;
}

header nav .site-navlinks ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav .site-navlinks ul li {
  text-align: center;
}

header nav .site-navlinks ul li a {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  color: #000;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: -0.1rem;
}

header nav .site-navlinks ul li .abs-link {
  position: absolute;
  bottom: 5vh;
  border: 1px solid black;
  padding: 10px 50px;
  border-radius: 50%;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  left: 0;
  right: 0;
  margin: 0 35%;
  font-size: 1rem;
  letter-spacing: 0rem;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1 {
  margin: 0;
  font-size: 8.6rem;
  font-family: 'Cormorant', serif;
  line-height: 5rem;
  color: #e5dff5;
  position: relative;
  left: 1%;
  letter-spacing: -0.4rem;
  font-weight: 300;
}

main small:first-of-type {
  position: relative;
  left: -25%;
  top: 30px;
}

main small {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #e5dff5;
  position: relative;
  right: 10%;
  top: 15px;
  letter-spacing: -0.02rem;
  font-weight: 500;
}

@media screen and (min-width: 800px) {

  main h1 {
    font-size: 9rem;
    line-height: 7rem;
  }

  main small {
    font-size: 2rem;
    top: 15px;
  }

}

@media screen and (min-width: 1300px) {

  main h1 {
    font-size: 15rem;
    line-height: 12rem;
  }

  main small {
    font-size: 2.3rem;
    top: 35px;
  }
  
}